<div class="page-header">
    <h1>Resultado da mineração de [{{totalFotos}} fotos] de {{nomePessoa}} </h1>
</div>
<div class="container-fluid">
    <h2>Amigos que mais aparecem em suas fotos</h2>
    <div class="col-md-6">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <th>Nome amigo</th>
                <th>Aparece em %</th>
                <th>Aparições</th>
            </thead>
            <tbody>
                <tr ng-repeat="pessoa in listaAparicoes">
                    <td>
                        <span ng-bind="pessoa.nomeCompleto"></span>
                    </td>
                    <td>
                        <span ng-bind="pessoa.percentual"></span>%
                    </td>
                    <td>
                        <span ng-bind="pessoa.total"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>